@use "../../styles/partials/colors" as *;
@use "../../styles/partials/media" as *;

.button {
  display: block;
  height: 2.5rem;
  width: 100%;
  border: 0;
  border-radius: 4px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-family: inherit;
  background-color: $primary-red;
  color: $primary-white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  @include tablet {
    max-width: 9.375rem;
    padding: 0 2rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $dark-red;
  }

  &__icon {
    height: 1.25rem;
    position: absolute;
    left: 0.4375rem;
    filter: brightness(0) invert(100%);
  }
}
