$dark-red: #c52729;
$primary-red: #d72323;

$light-pink: #e49c9c;
$primary-pink: #e47c7c;

$light-blue: #949ca4;
$primary-blue: #1b2d45;

$primary-white: #eeeeee;
$primary-black: #111111;

$background: #f0d8c8;
$error: #ff5201;