@use "../../styles/partials/colors" as *;
@use "../../styles/partials/media" as *;

@keyframes rainbow {
  0% {
    border-color: hsl(0, 100%, 40%);
  }
  25% {
    border-color: hsl(44, 100%, 40%);
  }
  50% {
    border-color: hsl(140, 100%, 40%);
  }
  75% {
    border-color: hsl(225, 100%, 40%);
  }
  100% {
    border-color: hsl(280, 100%, 40%);
  }
}

.home {
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    width: 90%;
    min-width: 15rem;
    max-width: 75rem;
    position: relative;
    @include tablet {
      font-size: 1.0625rem;
    }
  }

  &__city {
    display: flex;
    width: 82.5%;
    position: relative;
  }

  &__input {
    margin-top: 0.25rem;
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: bold;
    height: 3rem;
    width: 100%;
    padding: 0.625rem 1.25rem 0.75rem;
    border-radius: 50px;
    background-color: $off-white;
    color: $primary-black;
    border: 1px solid;
    animation: rainbow 7.5s infinite linear;
    @include tablet {
      margin-top: 0.375rem;
      font-size: 1rem;
      font-weight: normal;
      text-align: center;
    }

    &:focus {
      border: 1px solid hsl(0, 100%, 40%);
      animation: none;
      outline: none;
    }
  }

  &__search {
    position: absolute;
    right: 0.5rem;
    top: 0.625rem;
    border: 1px solid $primary-red;
    border-radius: 50%;
    background-color: $primary-red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    @include tablet {
      top: 0.75rem;
    }

    &:hover {
      cursor: pointer;
      background-color: $dark-red;
    }

    &:focus {
      border: 1px solid $light-blue;
      outline: none;
    }
  }

  &__icon {
    filter: brightness(100) saturate(100%);
  }

  &__suggestions {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    position: absolute;
    top: 4.5rem;
    z-index: 1;
    @include tablet {
      width: 82.5%;
      padding: 0 1.5rem;
      top: 4.875rem;
    }
  }

  &__suggestion {
    font-family: inherit;
    font-size: 0.8125rem;
    padding: 0.5rem 0.75rem 0.375rem;
    border: 1px solid $light-grey;
    color: $primary-black;
    background-color: $primary-white;
    @include tablet {
      font-size: 0.875rem;
      text-align: center;
      min-height: 2.5rem;
    }

    &:hover {
      background-color: $off-white;
      border: 1px solid $primary-pink;
      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0.75rem;
    width: 75%;
    max-width: fit-content;
  }

  &__preface {
    font-family: "Parisienne", cursive;
    font-size: 1.125rem;
    position: absolute;
    top: -1.125rem;
    left: -2.25rem;
    @include tablet {
      font-size: 1.5rem;
      top: -1.25rem;
      left: -3.25rem;
    }
  }

  &__name {
    text-align: center;
  }

  &__map {
    width: 50vw;
    height: 50vh;
    min-width: 17.5rem;
    max-width: 80rem;
    min-height: 17.5rem;
    max-height: 80rem;
    border-radius: 8px;

    .gm-style-cc {
      display: none;
    }

    &-container {
      width: fit-content;
      height: fit-content;
      margin-bottom: 0.75rem;
    }
  }
}
