@use "../../styles/partials/colors" as *;
@use "../../styles/partials/media" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid $dark-red;
  @include tablet {
    padding: 0.5rem 0.875rem;
  }

  &__logo {
    height: 3.25rem;
  }

  &__nav {
    display: flex;
    gap: 0.75rem;
    @include tablet {
      gap: 1.25rem;
    }
  }

  &__link {
    position: relative;
    padding: 0.25rem 0.75rem;
    &:hover {
      background-color: $primary-white;
      color: $dark-red;
      border-radius: 100px;
    }
  }

  &__soon {
    position: absolute;
    font-size: 0.625rem;
    top: 1.5rem;
    left: 0.5rem;
    color: $dark-red;
    text-transform: uppercase;
  }

  .active {
    background-color: $dark-red;
    border-radius: 100px;

    span {
      color: $primary-white;
    }
  }
}
