@use "./styles/partials/colors" as *;
@use "./styles/partials/media" as *;
@use "./styles/partials/typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: $primary-blue;
  background-color: $background;
  min-width: fit-content;
}